.wrapper {
  width: 1060px;
}

header, footer {
  position: static;
}

@media print, screen and (min-width: 820px) {
  section {
    width: 700px;
  }
}

@media print, screen and (max-width: 1160px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding: 0;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:static;
  }
}

section p, section li {
  text-align: justify;
}

li > ul, li > ol {
  margin-bottom: 0;
}

td > p:last-child {
  margin: 0;
}

blockquote {
  font-style: normal;
}

td > figure.highlight {
  margin: 0;
}

a > code {
  color: #267CB9;
}

a:hover, a:focus {
  color: #003699;
  font-weight: normal;
}

.floating-illustration-image {
  float: right;
  width: 40%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.asset-scaled-to-32 {
  width: 32px;
  height: 32px;
}
